*{
    margin: 0;
    padding: 0;
}

.contener{
    background-image: url(../src/banner.jpg);
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    padding-left: 30px;
}
ul {
    list-style: none;
    padding-right: 70px;
}

nav ul li{
    float: right;
}

nav ul li a{
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: rgb(189, 255, 220);
}

nav ul li a::before{
    position: absolute;
    content: '';
    bottom: 10px;
    left: 0;
    height: 5px;
    width: 0;
    background-color: rgb(189, 255, 220);
    transition: 0.5s;
    
}

nav ul li a:hover::before{
    width: 100%;

}

.benar{
    text-align: center;
    padding-top: 5%;
}

.benar p{
    margin: auto;
    color: rgb(189, 255, 220);
    text-align: center;
    width: 50%;
    padding-top: 2%;
    font-size: 30px;
}

.benar h1{
    margin: auto;
    color: rgb(189, 255, 220);
    font-size: 50px;

}

.benar a{
    text-decoration: none;
    background-color: rgb(189, 255, 220);
    color: black;
    font-weight: 800;
    margin-top: 40Spx;
    padding: 12px 50px;
    border-radius: 20px;
}

/* secend section */

.secend-section{
    display: flex;  
}
.first-part{
    width: 50%;
    height: 700px;
    background-color: #DFF6F8;
    text-align: center;
}

.first-part p{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.first-part h2{
    margin: auto;
    padding-top: 30%;
}

.secend-part{
    width: 50%;
    height: 700px;
}
.secend-part img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-section{
    width: 100%;
    height: 500px;
    background-color: rgba(63, 51, 108, 0.771);
    position: relative;
}
.part{
    width: 30%;
    height: 50%;
    border-radius: 50px;
}
.ast{
    background-color: #3498DB;
    position: absolute;
    top: -25%;
    right: 8%;
}
.bst{
    background-color: #3498DB;
    position: absolute;
    top: -25%;
    right: 60%;
}

